/// color

$bg-dark: rgb(50, 50, 50);

$bg-bright: rgb(223, 173, 0);

$text-price-1: rgb(76, 147, 195);
$text-price-2: rgb(233, 233, 233);

$text-footer: rgb(150, 150, 150);

$h2-color-1: rgb(100, 100, 100);
$p-color-2: rgb(50, 50, 50);


